body{
    margin: 0;

}
ul, li{
    padding: 0;
    list-style-type: none;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr auto;
}

header{
    grid-column:  span 3;
    border-bottom:  1px solid #ddd;
    text-align: center;
}
header li{
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 20px;
}
header li a{
    text-decoration: none;
    color: black;
}

nav{
    border-right: 1px solid #ddd;
    padding: 30px;
}
nav li{
    border-bottom: 1px solid #ddd;
}

nav li p{
    text-decoration: none;
}

article{
    padding: 30px;
    max-width: 100%;
}
article h2{
    font-size:  3.5em;
    max-width: 800px;
}

article p{
    margin-top: 30px;
    line-height: 1.5em;
    color: black;
}


/* responsive */
@media screen and (max-width: 1200px)
{
    nav{
        /* grid-column: span 3; */
    }
}